.project
.cache
.settings
.buildpath
.DS_Store
*.peg
*.swp
diff
tags

app/Plugin/DebugKit
app/Config/bootstrap.php
app/Config/database.php
app/Config/email.php
app/tmp/*
!empty
vendor/*
composer.phar
